@font-face {
  font-family: 'icomoon';
  src: url('fonts/icomoon.eot?qzqckn');
  src: url('fonts/icomoon.eot?qzqckn#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?qzqckn') format('truetype'),
    url('fonts/icomoon.woff?qzqckn') format('woff'),
    url('fonts/icomoon.svg?qzqckn#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^='icon-'],
[class*=' icon-'] {
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-right:before {
  content: '\ea34';
}
.icon-arrow-left:before {
  content: '\ea38';
}
